@model IEnumerable<WBS_WEB.Models.MasterList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TASK_ID
        </th>
        <th>
            NAME_JP
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TASK_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME_JP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RANK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TASK_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REL_PLAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <!--
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        -->
    </tr>
}

</table>
