@model IEnumerable<WBS_WEB.Models.MasterList>

@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "master-list";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    <div class="row_title" id="row-@Html.DisplayFor(modelItem => item.TASK_ID)">
        <span class="task_id">@Html.DisplayFor(modelItem => item.TASK_ID)</span>
        <span class="name_jp">@Html.DisplayFor(modelItem => item.NAME_JP)</span>
        <span class="rank">@Html.DisplayFor(modelItem => item.RANK)</span>
        <span class="type">@Html.DisplayFor(modelItem => item.TASK_TYPE)</span>
        <span class="rel_plan">@Html.DisplayFor(modelItem => item.REL_PLAN)</span>
        <span class="status">@Html.DisplayFor(modelItem => item.STATUS)</span>
            <!--
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        -->
    </div>
}

